<a href="https://colab.research.google.com/github/r4coder/DA/blob/main/DA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Merging database-style dataframes**

In [5]:
#Loading the dataset
import pandas as pd
import numpy as np
data_frame=pd.read_csv("https://raw.githubusercontent.com/salemprakash/EDA/main/Data/indo_rct.csv")
print(data_frame)

     rownames    id    site  age  risk    gender outcome    sod    pep  \
0           1  1001    1_UM   26   2.0  1_female   1_yes  1_yes   0_no
1           2  1002    1_UM   24   1.0    2_male    0_no   0_no  1_yes
2           3  1003    1_UM   57   1.0  1_female    0_no  1_yes   0_no
3           4  1004    1_UM   29   2.0  1_female   1_yes  1_yes   0_no
4           5  1005    1_UM   38   3.5  1_female    0_no  1_yes  1_yes
..        ...   ...     ...  ...   ...       ...     ...    ...    ...
597       598  3021    3_UK   39   2.0  1_female    0_no   0_no   0_no
598       599  3022    3_UK   50   2.5  1_female    0_no  1_yes   0_no
599       600  4001  4_Case   29   1.5  1_female    0_no   0_no   0_no
600       601  4002  4_Case   40   1.5  1_female    0_no  1_yes   0_no
601       602  4003  4_Case   73   2.0  1_female    0_no   0_no   0_no

    recpanc  ... sodsom bsphinc bstent  chole pbmal  train        status  \
0     1_yes  ...   0_no    0_no   0_no   0_no  0_no  1_yes  1_outpatient
1      0_no  ...   0_no   1_yes  1_yes  1_yes  0_no   0_no  1_outpatient
2      0_no  ...   0_no    0_no   0_no   0_no  0_no   0_no  1_outpatient
3      0_no  ...   0_no   1_yes   0_no  1_yes  0_no  1_yes  1_outpatient
4      0_no  ...  1_yes   1_yes   0_no   0_no  0_no  1_yes   0_inpatient
..      ...  ...    ...     ...    ...    ...   ...    ...           ...
597   1_yes  ...   0_no    0_no   0_no   0_no  0_no   0_no  1_outpatient
598   1_yes  ...  1_yes   1_yes   0_no   0_no  0_no   0_no  1_outpatient
599    0_no  ...   0_no   1_yes   0_no  1_yes  0_no  1_yes  1_outpatient
600    0_no  ...   0_no   1_yes   0_no   0_no  0_no  1_yes  1_outpatient
601    0_no  ...   0_no   1_yes  1_yes   0_no  0_no  1_yes  1_outpatient

         type              rx bleed
0    1_type 1  1_indomethacin   NaN
1    0_no SOD       0_placebo   NaN
2    2_type 2       0_placebo   NaN
3    1_type 1       0_placebo   NaN
4    1_type 1  1_indomethacin   NaN
..        ...             ...   ...
597  0_no SOD       0_placebo   NaN
598  2_type 2       0_placebo   NaN
599  1_type 1       0_placebo   NaN
600  1_type 1  1_indomethacin   NaN
601  0_no SOD  1_indomethacin   NaN

[602 rows x 34 columns]

In [6]:
#Making data set-1 from data set
data_1=data_frame[['id','age']]
print(data_1)

       id  age
0    1001   26
1    1002   24
2    1003   57
3    1004   29
4    1005   38
..    ...  ...
597  3021   39
598  3022   50
599  4001   29
600  4002   40
601  4003   73

[602 rows x 2 columns]

In [10]:
#Making data set-2 from data set
data_2=data_frame[['id','status']]
print(data_2)

       id        status
0    1001  1_outpatient
1    1002  1_outpatient
2    1003  1_outpatient
3    1004  1_outpatient
4    1005   0_inpatient
..    ...           ...
597  3021  1_outpatient
598  3022  1_outpatient
599  4001  1_outpatient
600  4002  1_outpatient
601  4003  1_outpatient

[602 rows x 2 columns]

In [15]:
#Making data set-3 drom data set
data_3=data_frame[['id','status']]
prev= data_3['id'].tail(1).values[0]
for j in range(len(data_2)):
    prev=prev+1
    data_3.at[j, 'id']=prev

print(data_3)

       id        status
0    4004  1_outpatient
1    4005  1_outpatient
2    4006  1_outpatient
3    4007  1_outpatient
4    4008   0_inpatient
..    ...           ...
597  4601  1_outpatient
598  4602  1_outpatient
599  4603  1_outpatient
600  4604  1_outpatient
601  4605  1_outpatient

[602 rows x 2 columns]

#**Merging**

In [11]:
#Concentation
data_concat=pd.concat([data_1, data_2], ignore_index=True)
print(data_concat)

        id   age        status
0     1001  26.0           NaN
1     1002  24.0           NaN
2     1003  57.0           NaN
3     1004  29.0           NaN
4     1005  38.0           NaN
...    ...   ...           ...
1199  3021   NaN  1_outpatient
1200  3022   NaN  1_outpatient
1201  4001   NaN  1_outpatient
1202  4002   NaN  1_outpatient
1203  4003   NaN  1_outpatient

[1204 rows x 3 columns]

In [19]:
#Inner Join
data_innerjoin = data_1.merge(data_2, how='inner')
print(data_innerjoin)

       id  age        status
0    1001   26  1_outpatient
1    1002   24  1_outpatient
2    1003   57  1_outpatient
3    1004   29  1_outpatient
4    1005   38   0_inpatient
..    ...  ...           ...
597  3021   39  1_outpatient
598  3022   50  1_outpatient
599  4001   29  1_outpatient
600  4002   40  1_outpatient
601  4003   73  1_outpatient

[602 rows x 3 columns]

In [16]:
#Left join
data_leftjoin = data_1.merge(data_3, how='left')
print(data_leftjoin)

       id  age status
0    1001   26    NaN
1    1002   24    NaN
2    1003   57    NaN
3    1004   29    NaN
4    1005   38    NaN
..    ...  ...    ...
597  3021   39    NaN
598  3022   50    NaN
599  4001   29    NaN
600  4002   40    NaN
601  4003   73    NaN

[602 rows x 3 columns]

In [17]:
#Right Join
data_rightjoin = data_1.merge(data_3, how='right')
print(data_rightjoin)

       id  age        status
0    4004  NaN  1_outpatient
1    4005  NaN  1_outpatient
2    4006  NaN  1_outpatient
3    4007  NaN  1_outpatient
4    4008  NaN   0_inpatient
..    ...  ...           ...
597  4601  NaN  1_outpatient
598  4602  NaN  1_outpatient
599  4603  NaN  1_outpatient
600  4604  NaN  1_outpatient
601  4605  NaN  1_outpatient

[602 rows x 3 columns]

In [20]:
#First some values
data_first=data_1.head(10)
print(data_first)

     id  age
0  1001   26
1  1002   24
2  1003   57
3  1004   29
4  1005   38
5  1006   59
6  1007   60
7  1008   29
8  1009   53
9  1010   20

In [21]:
#Last some values
data_last=data_1.tail(10)
print(data_last)

       id  age
592  3016   25
593  3017   52
594  3018   34
595  3019   56
596  3020   27
597  3021   39
598  3022   50
599  4001   29
600  4002   40
601  4003   73

In [22]:
#Description of a data set
data_descr=data_frame.describe()
print(data_descr)

         rownames           id         age        risk      bleed
count  602.000000   602.000000  602.000000  602.000000  27.000000
mean   301.500000  1939.425249   45.269103    2.381229   1.592593
std    173.926709   568.733133   13.297968    0.881269   0.500712
min      1.000000  1001.000000   19.000000    1.000000   1.000000
25%    151.250000  1152.250000   35.000000    1.500000   1.000000
50%    301.500000  2137.500000   45.000000    2.500000   2.000000
75%    451.750000  2288.750000   54.000000    3.000000   2.000000
max    602.000000  4003.000000   90.000000    5.500000   2.000000