<a href="https://colab.research.google.com/github/r4coder/DA/blob/main/DA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Merging database-style dataframes**

In [2]:
#Loading the dataset
import pandas as pd
import numpy as np
data_frame=pd.read_csv("https://raw.githubusercontent.com/salemprakash/EDA/main/Data/indo_rct.csv")
print(data_frame)

     rownames    id    site  age  risk    gender outcome    sod    pep  \
0           1  1001    1_UM   26   2.0  1_female   1_yes  1_yes   0_no
1           2  1002    1_UM   24   1.0    2_male    0_no   0_no  1_yes
2           3  1003    1_UM   57   1.0  1_female    0_no  1_yes   0_no
3           4  1004    1_UM   29   2.0  1_female   1_yes  1_yes   0_no
4           5  1005    1_UM   38   3.5  1_female    0_no  1_yes  1_yes
..        ...   ...     ...  ...   ...       ...     ...    ...    ...
597       598  3021    3_UK   39   2.0  1_female    0_no   0_no   0_no
598       599  3022    3_UK   50   2.5  1_female    0_no  1_yes   0_no
599       600  4001  4_Case   29   1.5  1_female    0_no   0_no   0_no
600       601  4002  4_Case   40   1.5  1_female    0_no  1_yes   0_no
601       602  4003  4_Case   73   2.0  1_female    0_no   0_no   0_no

    recpanc  ... sodsom bsphinc bstent  chole pbmal  train        status  \
0     1_yes  ...   0_no    0_no   0_no   0_no  0_no  1_yes  1_outpatient
1      0_no  ...   0_no   1_yes  1_yes  1_yes  0_no   0_no  1_outpatient
2      0_no  ...   0_no    0_no   0_no   0_no  0_no   0_no  1_outpatient
3      0_no  ...   0_no   1_yes   0_no  1_yes  0_no  1_yes  1_outpatient
4      0_no  ...  1_yes   1_yes   0_no   0_no  0_no  1_yes   0_inpatient
..      ...  ...    ...     ...    ...    ...   ...    ...           ...
597   1_yes  ...   0_no    0_no   0_no   0_no  0_no   0_no  1_outpatient
598   1_yes  ...  1_yes   1_yes   0_no   0_no  0_no   0_no  1_outpatient
599    0_no  ...   0_no   1_yes   0_no  1_yes  0_no  1_yes  1_outpatient
600    0_no  ...   0_no   1_yes   0_no   0_no  0_no  1_yes  1_outpatient
601    0_no  ...   0_no   1_yes  1_yes   0_no  0_no  1_yes  1_outpatient

         type              rx bleed
0    1_type 1  1_indomethacin   NaN
1    0_no SOD       0_placebo   NaN
2    2_type 2       0_placebo   NaN
3    1_type 1       0_placebo   NaN
4    1_type 1  1_indomethacin   NaN
..        ...             ...   ...
597  0_no SOD       0_placebo   NaN
598  2_type 2       0_placebo   NaN
599  1_type 1       0_placebo   NaN
600  1_type 1  1_indomethacin   NaN
601  0_no SOD  1_indomethacin   NaN

[602 rows x 34 columns]

In [3]:
#Making data set-1 from data set
data_1=data_frame[['id','age']]
print(data_1)

       id  age
0    1001   26
1    1002   24
2    1003   57
3    1004   29
4    1005   38
..    ...  ...
597  3021   39
598  3022   50
599  4001   29
600  4002   40
601  4003   73

[602 rows x 2 columns]

In [4]:
#Making data set-2 from data set
data_2=data_frame[['id','status']]
print(data_2)

       id        status
0    1001  1_outpatient
1    1002  1_outpatient
2    1003  1_outpatient
3    1004  1_outpatient
4    1005   0_inpatient
..    ...           ...
597  3021  1_outpatient
598  3022  1_outpatient
599  4001  1_outpatient
600  4002  1_outpatient
601  4003  1_outpatient

[602 rows x 2 columns]

In [5]:
#Making data set-3 drom data set
data_3=data_frame[['id','status']]
prev= data_3['id'].tail(1).values[0]
for j in range(len(data_2)):
    prev=prev+1
    data_3.at[j, 'id']=prev

print(data_3)

       id        status
0    4004  1_outpatient
1    4005  1_outpatient
2    4006  1_outpatient
3    4007  1_outpatient
4    4008   0_inpatient
..    ...           ...
597  4601  1_outpatient
598  4602  1_outpatient
599  4603  1_outpatient
600  4604  1_outpatient
601  4605  1_outpatient

[602 rows x 2 columns]

#**Merging**

In [6]:
#Concentation
data_concat=pd.concat([data_1, data_2], ignore_index=True)
print(data_concat)

        id   age        status
0     1001  26.0           NaN
1     1002  24.0           NaN
2     1003  57.0           NaN
3     1004  29.0           NaN
4     1005  38.0           NaN
...    ...   ...           ...
1199  3021   NaN  1_outpatient
1200  3022   NaN  1_outpatient
1201  4001   NaN  1_outpatient
1202  4002   NaN  1_outpatient
1203  4003   NaN  1_outpatient

[1204 rows x 3 columns]

In [7]:
#Inner Join
data_innerjoin = data_1.merge(data_2, how='inner')
print(data_innerjoin)

       id  age        status
0    1001   26  1_outpatient
1    1002   24  1_outpatient
2    1003   57  1_outpatient
3    1004   29  1_outpatient
4    1005   38   0_inpatient
..    ...  ...           ...
597  3021   39  1_outpatient
598  3022   50  1_outpatient
599  4001   29  1_outpatient
600  4002   40  1_outpatient
601  4003   73  1_outpatient

[602 rows x 3 columns]

In [8]:
#Left join
data_leftjoin = data_1.merge(data_3, how='left')
print(data_leftjoin)

       id  age status
0    1001   26    NaN
1    1002   24    NaN
2    1003   57    NaN
3    1004   29    NaN
4    1005   38    NaN
..    ...  ...    ...
597  3021   39    NaN
598  3022   50    NaN
599  4001   29    NaN
600  4002   40    NaN
601  4003   73    NaN

[602 rows x 3 columns]

In [9]:
#Right Join
data_rightjoin = data_1.merge(data_3, how='right')
print(data_rightjoin)

       id  age        status
0    4004  NaN  1_outpatient
1    4005  NaN  1_outpatient
2    4006  NaN  1_outpatient
3    4007  NaN  1_outpatient
4    4008  NaN   0_inpatient
..    ...  ...           ...
597  4601  NaN  1_outpatient
598  4602  NaN  1_outpatient
599  4603  NaN  1_outpatient
600  4604  NaN  1_outpatient
601  4605  NaN  1_outpatient

[602 rows x 3 columns]

In [10]:
#First some values
data_first=data_1.head(10)
print(data_first)

     id  age
0  1001   26
1  1002   24
2  1003   57
3  1004   29
4  1005   38
5  1006   59
6  1007   60
7  1008   29
8  1009   53
9  1010   20

In [11]:
#Last some values
data_last=data_1.tail(10)
print(data_last)

       id  age
592  3016   25
593  3017   52
594  3018   34
595  3019   56
596  3020   27
597  3021   39
598  3022   50
599  4001   29
600  4002   40
601  4003   73

In [12]:
#Description of a data set
data_descr=data_frame.describe()
print(data_descr)

         rownames           id         age        risk      bleed
count  602.000000   602.000000  602.000000  602.000000  27.000000
mean   301.500000  1939.425249   45.269103    2.381229   1.592593
std    173.926709   568.733133   13.297968    0.881269   0.500712
min      1.000000  1001.000000   19.000000    1.000000   1.000000
25%    151.250000  1152.250000   35.000000    1.500000   1.000000
50%    301.500000  2137.500000   45.000000    2.500000   2.000000
75%    451.750000  2288.750000   54.000000    3.000000   2.000000
max    602.000000  4003.000000   90.000000    5.500000   2.000000

# **Reshaping with Hierarchical Indexing**

In [13]:
#Reshaping the data set with indexing
data_reshape_values= np.arange(9).reshape((3,3))
indexers = ['Store 1', 'Store 2', 'Store 3']
data_reshape = pd.DataFrame(data_reshape_values, index=indexers, columns=['Production', 'Week', 'Demand'])
print(data_reshape)

         Production  Week  Demand
Store 1           0     1       2
Store 2           3     4       5
Store 3           6     7       8

In [14]:
#Stacking up the values of data_reshape data set
data_stacked = data_reshape.stack()
print(data_stacked)

Store 1  Production    0
         Week          1
         Demand        2
Store 2  Production    3
         Week          4
         Demand        5
Store 3  Production    6
         Week          7
         Demand        8
dtype: int64

In [15]:
#Stacked to normal data set format
data_unstack=data_stacked.unstack()
print(data_unstack)

         Production  Week  Demand
Store 1           0     1       2
Store 2           3     4       5
Store 3           6     7       8

In [16]:
#Concatenates two series with hierarchical indexing and unstacks the result to create a DataFrame.
Series_1 = pd.Series([10, 20, 30], index=['X', 'Y', 'Z'])
Series_2 = pd.Series([40, 50, 60, 70], index=['P', 'Q', 'R', 'S'])
Series_Concat = pd.concat([Series_1, Series_2], keys=['GroupA', 'GroupB'])
Series_concat_unstack = Series_Concat.unstack()
print(Series_concat_unstack)

           P     Q     R     S     X     Y     Z
GroupA   NaN   NaN   NaN   NaN  10.0  20.0  30.0
GroupB  40.0  50.0  60.0  70.0   NaN   NaN   NaN

# **Transformation techniques**

1. Data deduplication

In [19]:
#Duplicated values of a data set
data_duplicated=data_1.duplicated()
print(data_duplicated)

0      False
1      False
2      False
3      False
4      False
       ...
597    False
598    False
599    False
600    False
601    False
Length: 602, dtype: bool

In [21]:
#Dropping Duplicates of a data set
data_drop_duplicates=data_1.drop_duplicates()
print(data_drop_duplicates)

       id  age
0    1001   26
1    1002   24
2    1003   57
3    1004   29
4    1005   38
..    ...  ...
597  3021   39
598  3022   50
599  4001   29
600  4002   40
601  4003   73

[602 rows x 2 columns]

In [25]:
#Dropping duplicates of a specific column
data_drop_duplicate_column=data_frame.drop_duplicates(['gender'])
print(data_drop_duplicate_column)

   rownames    id  site  age  risk    gender outcome    sod    pep recpanc  \
0         1  1001  1_UM   26   2.0  1_female   1_yes  1_yes   0_no   1_yes
1         2  1002  1_UM   24   1.0    2_male    0_no   0_no  1_yes    0_no

   ... sodsom bsphinc bstent  chole pbmal  train        status      type  \
0  ...   0_no    0_no   0_no   0_no  0_no  1_yes  1_outpatient  1_type 1
1  ...   0_no   1_yes  1_yes  1_yes  0_no   0_no  1_outpatient  0_no SOD

               rx bleed
0  1_indomethacin   NaN
1       0_placebo   NaN

[2 rows x 34 columns]

2.Replacing Values

In [26]:
#Replacing one value by the other
data_replace=data_1.replace(to_replace =1001, value=999)
print(data_replace)

       id  age
0     999   26
1    1002   24
2    1003   57
3    1004   29
4    1005   38
..    ...  ...
597  3021   39
598  3022   50
599  4001   29
600  4002   40
601  4003   73

[602 rows x 2 columns]

In [27]:
#Replacing one or more than values by the other
data_replace_multiple=data_1.replace(to_replace =[1001,1002], value=[999,1000])
print(data_replace_multiple)

       id  age
0     999   26
1    1000   24
2    1003   57
3    1004   29
4    1005   38
..    ...  ...
597  3021   39
598  3022   50
599  4001   29
600  4002   40
601  4003   73

[602 rows x 2 columns]

3. Handling missing data

In [28]:
#Checking null values of a data set
data_check_null=data_frame.isnull()
print(data_check_null)

     rownames     id   site    age   risk  gender  outcome    sod    pep  \
0       False  False  False  False  False   False    False  False  False
1       False  False  False  False  False   False    False  False  False
2       False  False  False  False  False   False    False  False  False
3       False  False  False  False  False   False    False  False  False
4       False  False  False  False  False   False    False  False  False
..        ...    ...    ...    ...    ...     ...      ...    ...    ...
597     False  False  False  False  False   False    False  False  False
598     False  False  False  False  False   False    False  False  False
599     False  False  False  False  False   False    False  False  False
600     False  False  False  False  False   False    False  False  False
601     False  False  False  False  False   False    False  False  False

     recpanc  ...  sodsom  bsphinc  bstent  chole  pbmal  train  status  \
0      False  ...   False    False   False  False  False  False   False
1      False  ...   False    False   False  False  False  False   False
2      False  ...   False    False   False  False  False  False   False
3      False  ...   False    False   False  False  False  False   False
4      False  ...   False    False   False  False  False  False   False
..       ...  ...     ...      ...     ...    ...    ...    ...     ...
597    False  ...   False    False   False  False  False  False   False
598    False  ...   False    False   False  False  False  False   False
599    False  ...   False    False   False  False  False  False   False
600    False  ...   False    False   False  False  False  False   False
601    False  ...   False    False   False  False  False  False   False

      type     rx  bleed
0    False  False   True
1    False  False   True
2    False  False   True
3    False  False   True
4    False  False   True
..     ...    ...    ...
597  False  False   True
598  False  False   True
599  False  False   True
600  False  False   True
601  False  False   True

[602 rows x 34 columns]

In [29]:
#Checking non null values in a data set
data_check_not_null=data_frame.notnull()
print(data_check_not_null)

     rownames    id  site   age  risk  gender  outcome   sod   pep  recpanc  \
0        True  True  True  True  True    True     True  True  True     True
1        True  True  True  True  True    True     True  True  True     True
2        True  True  True  True  True    True     True  True  True     True
3        True  True  True  True  True    True     True  True  True     True
4        True  True  True  True  True    True     True  True  True     True
..        ...   ...   ...   ...   ...     ...      ...   ...   ...      ...
597      True  True  True  True  True    True     True  True  True     True
598      True  True  True  True  True    True     True  True  True     True
599      True  True  True  True  True    True     True  True  True     True
600      True  True  True  True  True    True     True  True  True     True
601      True  True  True  True  True    True     True  True  True     True

     ...  sodsom  bsphinc  bstent  chole  pbmal  train  status  type    rx  \
0    ...    True     True    True   True   True   True    True  True  True
1    ...    True     True    True   True   True   True    True  True  True
2    ...    True     True    True   True   True   True    True  True  True
3    ...    True     True    True   True   True   True    True  True  True
4    ...    True     True    True   True   True   True    True  True  True
..   ...     ...      ...     ...    ...    ...    ...     ...   ...   ...
597  ...    True     True    True   True   True   True    True  True  True
598  ...    True     True    True   True   True   True    True  True  True
599  ...    True     True    True   True   True   True    True  True  True
600  ...    True     True    True   True   True   True    True  True  True
601  ...    True     True    True   True   True   True    True  True  True

     bleed
0    False
1    False
2    False
3    False
4    False
..     ...
597  False
598  False
599  False
600  False
601  False

[602 rows x 34 columns]

In [30]:
#Counting null values per column
data_num_null_values=data_frame.isnull().sum()
print(data_num_null_values)

rownames         0
id               0
site             0
age              0
risk             0
gender           0
outcome          0
sod              0
pep              0
recpanc          0
psphinc          0
precut           0
difcan           0
pneudil          0
amp              0
paninj           0
acinar           0
brush            0
asa81            0
asa325           0
asa              0
prophystent      0
therastent       0
pdstent          0
sodsom           0
bsphinc          0
bstent           0
chole            0
pbmal            0
train            0
status           0
type             0
rx               0
bleed          575
dtype: int64

In [31]:
#Total null values in a data set
data_num_null_values=data_frame.isnull().sum().sum()
print(data_num_null_values)

575

In [32]:
#Total number of non missing values
data_values_count=data_frame.count()
print(data_values_count)

rownames       602
id             602
site           602
age            602
risk           602
gender         602
outcome        602
sod            602
pep            602
recpanc        602
psphinc        602
precut         602
difcan         602
pneudil        602
amp            602
paninj         602
acinar         602
brush          602
asa81          602
asa325         602
asa            602
prophystent    602
therastent     602
pdstent        602
sodsom         602
bsphinc        602
bstent         602
chole          602
pbmal          602
train          602
status         602
type           602
rx             602
bleed           27
dtype: int64

4.Dropping Missing Values

In [36]:
#Remove rows with null values
data_remove_null=data_frame.dropna()
print(data_remove_null)

     rownames    id  site  age  risk    gender outcome    sod    pep recpanc  \
7           8  1008  1_UM   29   1.0    2_male    0_no   0_no   0_no    0_no
17         18  1018  1_UM   46   1.5  1_female    0_no   0_no   0_no    0_no
27         28  1028  1_UM   42   4.0  1_female    0_no  1_yes  1_yes   1_yes
31         32  1032  1_UM   51   1.5  1_female   1_yes   0_no   0_no    0_no
43         44  1044  1_UM   71   2.0  1_female    0_no  1_yes   0_no    0_no
46         47  1047  1_UM   46   1.0    2_male   1_yes   0_no   0_no    0_no
50         51  1051  1_UM   51   1.0    2_male    0_no   0_no   0_no    0_no
66         67  1067  1_UM   34   1.5    2_male    0_no   0_no  1_yes   1_yes
81         82  1082  1_UM   55   2.5    2_male    0_no   0_no   0_no   1_yes
109       110  1110  1_UM   36   2.0  1_female    0_no  1_yes   0_no    0_no
128       129  1129  1_UM   41   3.5    2_male   1_yes  1_yes  1_yes   1_yes
129       130  1130  1_UM   50   4.0  1_female   1_yes  1_yes  1_yes   1_yes
142       143  1144  1_UM   44   1.5    2_male    0_no   0_no  1_yes   1_yes
143       144  1145  1_UM   34   2.0    2_male   1_yes   0_no   0_no   1_yes
148       149  1150  1_UM   53   2.5  1_female    0_no  1_yes   0_no   1_yes
213       214  2050  2_IU   25   1.5  1_female   1_yes   0_no   0_no    0_no
231       232  2068  2_IU   74   2.5    2_male    0_no  1_yes   0_no   1_yes
274       275  2111  2_IU   53   3.0  1_female    0_no  1_yes   0_no    0_no
275       276  2112  2_IU   63   3.0  1_female   1_yes  1_yes  1_yes    0_no
313       314  2150  2_IU   46   2.5  1_female    0_no  1_yes   0_no    0_no
402       403  2240  2_IU   38   1.5  1_female    0_no  1_yes   0_no    0_no
474       475  2312  2_IU   32   3.0    2_male   1_yes  1_yes   0_no    0_no
477       478  2315  2_IU   23   2.5    2_male    0_no  1_yes   0_no   1_yes
478       479  2316  2_IU   47   3.0  1_female    0_no  1_yes   0_no   1_yes
481       482  2319  2_IU   31   2.5  1_female    0_no  1_yes   0_no    0_no
535       536  2373  2_IU   63   1.5  1_female   1_yes  1_yes   0_no   1_yes
536       537  2374  2_IU   36   4.0  1_female   1_yes  1_yes  1_yes   1_yes

     ... sodsom bsphinc bstent  chole pbmal  train        status      type  \
7    ...   0_no   1_yes   0_no  1_yes  0_no  1_yes  1_outpatient  0_no SOD
17   ...   0_no    0_no   0_no   0_no  0_no  1_yes  1_outpatient  0_no SOD
27   ...  1_yes   1_yes   0_no   0_no  0_no  1_yes  1_outpatient  1_type 1
31   ...   0_no   1_yes  1_yes   0_no  0_no  1_yes  1_outpatient  0_no SOD
43   ...   0_no   1_yes   0_no   0_no  0_no   0_no  1_outpatient  1_type 1
46   ...   0_no   1_yes  1_yes   0_no  0_no  1_yes  1_outpatient  0_no SOD
50   ...   0_no   1_yes  1_yes   0_no  0_no  1_yes  1_outpatient  0_no SOD
66   ...   0_no    0_no   0_no   0_no  0_no  1_yes  1_outpatient  0_no SOD
81   ...   0_no    0_no   0_no   0_no  0_no  1_yes  1_outpatient  0_no SOD
109  ...   0_no   1_yes   0_no   0_no  0_no  1_yes  1_outpatient  1_type 1
128  ...   0_no   1_yes   0_no   0_no  0_no  1_yes  1_outpatient  1_type 1
129  ...  1_yes   1_yes   0_no   0_no  0_no   0_no  1_outpatient  1_type 1
142  ...   0_no    0_no  1_yes   0_no  0_no  1_yes  1_outpatient  0_no SOD
143  ...   0_no    0_no   0_no   0_no  0_no  1_yes  1_outpatient  0_no SOD
148  ...   0_no   1_yes   0_no   0_no  0_no   0_no  1_outpatient  1_type 1
213  ...   0_no    0_no   0_no   0_no  0_no   0_no  1_outpatient  0_no SOD
231  ...   0_no   1_yes   0_no   0_no  0_no   0_no  1_outpatient  2_type 2
274  ...  1_yes   1_yes   0_no   0_no  0_no   0_no  1_outpatient  3_type 3
275  ...   0_no    0_no   0_no   0_no  0_no   0_no  1_outpatient  2_type 2
313  ...  1_yes   1_yes   0_no   0_no  0_no  1_yes  1_outpatient  2_type 2
402  ...  1_yes   1_yes   0_no   0_no  0_no   0_no  1_outpatient  2_type 2
474  ...  1_yes   1_yes   0_no   0_no  0_no  1_yes  1_outpatient  2_type 2
477  ...  1_yes    0_no   0_no   0_no  0_no  1_yes  1_outpatient  2_type 2
478  ...  1_yes   1_yes   0_no   0_no  0_no   0_no  1_outpatient  2_type 2
481  ...  1_yes   1_yes   0_no   0_no  0_no  1_yes  1_outpatient  3_type 3
535  ...   0_no   1_yes   0_no   0_no  0_no  1_yes  1_outpatient  2_type 2
536  ...  1_yes    0_no   0_no   0_no  0_no  1_yes  1_outpatient  2_type 2

                 rx bleed
7    1_indomethacin   2.0
17        0_placebo   2.0
27   1_indomethacin   1.0
31        0_placebo   2.0
43   1_indomethacin   1.0
46        0_placebo   1.0
50        0_placebo   2.0
66        0_placebo   2.0
81   1_indomethacin   1.0
109  1_indomethacin   2.0
128  1_indomethacin   2.0
129       0_placebo   2.0
142  1_indomethacin   2.0
143  1_indomethacin   2.0
148  1_indomethacin   2.0
213       0_placebo   1.0
231       0_placebo   1.0
274       0_placebo   1.0
275  1_indomethacin   1.0
313       0_placebo   2.0
402       0_placebo   1.0
474       0_placebo   2.0
477       0_placebo   2.0
478  1_indomethacin   2.0
481       0_placebo   2.0
535       0_placebo   1.0
536       0_placebo   1.0

[27 rows x 34 columns]